<!--
  ~
  ~     OliveWeb is the webinterface for the OliveProject.
  ~     Copyright (C) 2016  Olivier Bakker & Harm Brugge
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~     Olivier Bakker: o.b.bakker@st.hanze.nl
  ~     Harm Brugge: h.brugge@st.hanze.nl
  ~
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<div th:fragment="basic-css">

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{/webjars/metisMenu/1.1.3/metisMenu.min.css}" rel="stylesheet"/>

    <!-- Bootstrap admin theme CSS -->
    <link th:href="@{/webjars/startbootstrap-sb-admin-2/1.0.7/css/sb-admin-2.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <!-- Custom CSS -->
    <link th:href="@{/css/olive_interface.css}" rel="stylesheet" type="text/css"/>

    <!-- Chosen CSS -->
    <link th:href="@{/css/chosen.css}" rel="stylesheet"/>
    <link th:href="@{/css/chosen_bootstrap.css}" rel="stylesheet">

    <link th:href="@{images/favicon.svg}" rel="shortcut icon" />
</div>

<div th:fragment="basic-js">

    <!-- jQuery -->
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <!--<script th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.css}" type="javascript"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/webjars/metisMenu/1.1.3/metisMenu.min.js}"></script>

    <!-- Handlebars JavaScript -->
    <script th:src="@{/webjars/handlebars/4.0.2/handlebars.min.js}"></script>

    <!-- Basic olive functions -->
    <script th:src="@{/js/olive.js}"></script>

    <!-- Chosen JS -->
    <script th:src="@{/js/chosen.jquery.min.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script th:src="@{/webjars/startbootstrap-sb-admin-2/1.0.7/js/sb-admin-2.js}"></script>

    <!-- Notification dropdown template -->
    <div th:include="authenticated/fragments/js_templates/notification_dropdown"></div>

    <!-- Job status dropdown dropdown template -->
    <div th:include="authenticated/fragments/js_templates/job_status_dropdown"></div>

</div>

</html>