<!--
  ~
  ~     OliveWeb is the webinterface for the OliveProject.
  ~     Copyright (C) 2016  Olivier Bakker & Harm Brugge
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~     Olivier Bakker: o.b.bakker@st.hanze.nl
  ~     Harm Brugge: h.brugge@st.hanze.nl
  ~
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<div th:fragment="simple-help-container (panelSize, job)">

    <div  th:class="${panelSize}" id="help-panel">
        <div data-spy="affix"  class="help-panel panel panel-default">

            <div class="panel-heading">
                <button type="button" class="close pull-right" onclick="jobModule.toggleHelp()">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h3 class="panel-title"><i class="fa fa-info-circle"></i> <span
                        th:text="${job.app.name}"></span> Quick help</h3>
            </div>

            <div class="panel-body">
                <table class="table" id="help-table">
                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="parameter : ${job.app.parameters}">
                        <td>
                            <span class="label label-success pull-right" th:if="${parameter.level == 1}">Normal</span>
                            <span class="label label-warning pull-right" th:if="${parameter.level == 2}">Advanced</span>
                            <span class="label label-danger pull-right" th:if="${parameter.level >  2}">Expert</span>

                            <h4 class="list-group-item-heading"><span th:text="${parameter.name}"></span></h4>

                            <hr style="margin:2px;"/>

                            <div class="row">
                                <div class="col-lg-4"><b>Flag:</b></div>
                                <div class="col-lg-8"><span th:text="${parameter.flag}"></span></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4"><b>Type:</b></div>
                                <div class="col-lg-8"><span th:text="${parameter.type}"></span></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4"><b>Description:</b></div>
                                <div class="col-lg-8"><span th:text="${parameter.description}"></span></div>
                            </div>
                            <div th:if="${parameter.formGroup != null && parameter.formGroup != ''}"  class="row">
                                <div class="col-lg-4"><b>Group:</b></div>
                                <div class="col-lg-8"><span th:text="${parameter.formGroup}"></span></div>
                            </div>
                            <div th:if="${parameter.arguments.toString() != '[]'}" class="row">
                                <div class="col-lg-4"><b>Default value:</b></div>
                                <div class="col-lg-8"><span th:text="${parameter.arguments}"></span></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

</div>
