<!--
  ~
  ~     OliveWeb is the webinterface for the OliveProject.
  ~     Copyright (C) 2016  Olivier Bakker & Harm Brugge
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~     Olivier Bakker: o.b.bakker@st.hanze.nl
  ~     Harm Brugge: h.brugge@st.hanze.nl
  ~
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<div th:fragment="simple-form-container (panelSize, job)">

    <h1 class="page-header" th:text="${job.app.name}"></h1>

    <div id="job-panel" th:class="${panelSize}">

        <form class="form form-horizontal" method="post" th:action="@{/new-job}" th:object="${job}"
              enctype="multipart/form-data">

            <div class="panel panel-default">
                <div class="panel-heading">

                    <div class="pull-right">
                        <div class="btn-group">
                            <button aria-expanded="false" type="button" class="btn btn-default btn-xs"
                                    onclick="jobModule.toggleHelp()">
                                <i class="fa fa-info-circle"></i> Toggle help
                            </button>
                        </div>
                    </div>

                    <h3 class="panel-title"><i class="fa fa-clipboard"></i> Job options</h3>
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="name">Name</label>
                        <div class="col-lg-10">
                            <input class="form-control" required type="text" th:field="*{name}" id="name"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="job-group">Job Group</label>
                        <div class="col-lg-10">
                            <select id="job-group" data-placeholder="Select partition"
                                    class="form-control chosen-select" th:field="*{jobGroupId}">
                                <option value="0">NONE</option>

                                <option th:each="elem: ${jobGroups}" th:value="${elem.id}"
                                        th:text="${elem.name}"></option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" th:field="*{mailNotification}"> Send mail notification
                                </label>
                            </div>
                        </div>
                    </div>

                    <div th:classappend="${job.app.peregrineEnabled ? '' : 'hidden'}" class="form-group">
                        <label class="col-lg-2 control-label" for="run-with">Run with</label>
                        <div class="col-lg-10">

                            <select onchange="jobModule.togglePeregrine()" class="form-control" th:field="*{runType}"
                                    id="run-with">
                                <option th:each="elem: ${T(com.olifarm.olive.web.job.RunType).values()}"
                                        th:value="${elem.name()}" th:text="${elem.name()}"></option>
                            </select>
                        </div>
                    </div>

                    <div id="peregrine-settings" class="hidden">
                        <h3>Peregrine settings</h3>
                        <hr>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="wallClockTime">
                                    Max wall-clock time for a job
                                </label>
                                <input class="form-control" type="text" th:field="*{wallClockTime}" id="wallClockTime"/>
                            </div>

                            <div class="form-group">
                                <label for="node">
                                    Number of nodes to use for the job.
                                </label>
                                <input class="form-control" type="text" th:field="*{node}" id="node"/>
                            </div>

                            <div class="form-group">
                                <label for="numberOfTasks">
                                    Total number of tasks that the job will start.
                                </label>
                                <input class="form-control" type="text" th:field="*{numberOfTasks}"
                                       id="numberOfTasks"/>
                            </div>


                            <div class="form-group">
                                <label for="numberOfTasksPerNode">
                                    Number of tasks to start per node
                                </label>
                                <input class="form-control" type="text" th:field="*{numberOfTasksPerNode}"
                                       id="numberOfTasksPerNode"/>
                            </div>


                            <div class="form-group">
                                <label for="cpusPerTask">
                                    Number of threads per task.
                                </label>
                                <input class="form-control" type="text" th:field="*{cpusPerTask}" id="cpusPerTask"/>
                            </div>

                            <div class="form-group">
                                <label for="memory">
                                    The amount of memory needed for a job per node in megabytes
                                </label>
                                <input class="form-control" type="text" th:field="*{memory}" id="memory"/>
                            </div>

                            <div class="form-group">
                                <label for="memoryPerCpu">
                                    The amount of memory needed for a job per physical cpu core in megabytes
                                </label>
                                <input class="form-control" type="text" th:field="*{memoryPerCpu}"
                                       id="memoryPerCpu"/>
                            </div>

                            <div class="form-group">
                                <label for="mail-types">
                                    Mail types
                                </label>

                                <select multiple id="mail-types" data-placeholder="Mail types"
                                        class="chosen-select form-control" th:field="*{mailTypes}">

                                    <option th:each="elem: ${T(com.olifarm.olive.web.job.peregrine.MailType).values()}"
                                            th:value="${elem.name()}" th:text="${elem.name()}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="partition">
                                    Partition
                                </label>

                                <select id="partition" data-placeholder="Select partition"
                                        class="form-control chosen-select" th:field="*{partition}">

                                    <option th:each="elem: ${T(com.olifarm.olive.web.job.peregrine.Partition).values()}"
                                            th:value="${elem.name()}" th:text="${elem.name()}"></option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <div class="pull-right">
                        <div class="btn-group">
                            <button aria-expanded="false" type="button" class="btn btn-default btn-xs"
                                    onclick="jobModule.toggleAdvancedOptions()">
                                <i class="fa fa-info-circle"></i> Toggle advanced options
                            </button>
                        </div>
                    </div>

                    <h3 class="panel-title"><i class="fa fa-cogs"></i> <span th:text="*{app.name}"></span>
                        parameters</h3>
                </div>

                <div class="panel-body">
                    <input type="hidden" th:field="*{app.name}"/>
                    <input type="hidden" th:field="*{app.zipOutput}"/>
                    <input type="hidden" th:field="*{app.id}"/>
                    <input type="hidden" th:field="*{app.listSeparator}"/>

                    <div th:each="parameter, stat : *{app.fileParameters}" class="form-group"
                         th:classappend="${parameter.level > 1 ? 'hidden advanced':''}">

                        <input type="hidden" th:field="*{app.fileParameters[__${stat.index}__].id}"/>
                        <input type="hidden" th:field="*{app.fileParameters[__${stat.index}__].flag}"/>
                        <input type="hidden" th:field="*{app.fileParameters[__${stat.index}__].type}"/>
                        <input type="hidden" th:field="*{app.fileParameters[__${stat.index}__].longFlag}"/>
                        <input type="hidden" th:field="*{app.fileParameters[__${stat.index}__].argSep}"/>
                        <input type="hidden" th:field="*{app.fileParameters[__${stat.index}__].argNum}"/>
                        <input type="hidden" th:field="*{app.fileParameters[__${stat.index}__].extension}"/>
                        <input type="hidden" th:field="*{app.fileParameters[__${stat.index}__].addition}"/>
                        <input type="hidden" th:field="*{app.fileParameters[__${stat.index}__].formGroup}"/>

                        <div class="col-lg-4">
                            <label class="pull-right" th:label="${parameter.flag}" th:text="${parameter.name}"></label>
                            <span class="label label-success" th:if="${parameter.level == 1}">Normal</span>
                            <span class="label label-warning" th:if="${parameter.level == 2}">Advanced</span>
                            <span class="label label-danger" th:if="${parameter.level > 2}">Expert</span>
                        </div>

                        <div class="col-lg-8">
                            <div th:if="${parameter.arguments != null}">
                                <p th:text="${parameter.fileNameFromPath}" class="form-control-static"></p>
                                <input type="hidden" th:field="*{app.fileParameters[__${stat.index}__].arguments}"/>
                                <span>Or:</span>
                            </div>
                            <input th:if="${parameter.type == T(com.olifarm.olive.job.cliapplication.ParameterType).INPUT_FILE}"
                                   th:field="*{app.fileParameters[__${stat.index}__].file}" type="file"/>
                        </div>
                    </div>

                    <div th:remove="tag" th:each="parameter, stat : *{app.parameters}">

                        <span class="parameter-grouping hidden" th:attr="parameter-group=${parameter.formGroup}"></span>

                        <div th:id="'parameter-' + *{app.parameters[__${stat.index}__].id}"
                             th:class="${parameter.level == 0 ? 'hidden':''}"
                             th:classappend="${parameter.level > 1 ? 'hidden advanced':''}">

                            <div class="form-group">

                                <div th:id="'parameter-' + *{app.parameters[__${stat.index}__].id} + '-hidden-params'">
                                    <input th:id="'parameter-' + *{app.parameters[__${stat.index}__].id} + '-id'"
                                           type="hidden" th:field="*{app.parameters[__${stat.index}__].id}"/>
                                    <input th:id="'parameter-' + *{app.parameters[__${stat.index}__].id} + '-flag'"
                                           type="hidden" th:field="*{app.parameters[__${stat.index}__].flag}"/>
                                    <input th:id="'parameter-' + *{app.parameters[__${stat.index}__].id} + '-type'"
                                           type="hidden" th:field="*{app.parameters[__${stat.index}__].type}"/>
                                    <input th:id="'parameter-' + *{app.parameters[__${stat.index}__].id} + '-long-flag'"
                                           type="hidden"
                                           th:field="*{app.parameters[__${stat.index}__].longFlag}"/>
                                    <input th:id="'parameter-' + *{app.parameters[__${stat.index}__].id} + '-arg-sep'"
                                           type="hidden"
                                           th:field="*{app.parameters[__${stat.index}__].argSep}"/>
                                </div>

                                <div class="col-lg-4">
                                    <label class="control-label pull-right" th:label="${parameter.flag}">
                                        <span th:text="${parameter.name}"></span>
                                        <i th:if="${parameter.allowMultiple == true}" style="cursor:pointer;"
                                           class="fa fa-plus-circle pull-right fa-lg"
                                           th:onclick="'jobModule.addTextParameter(' + *{app.parameters[__${stat.index}__].id} + ')'">
                                        </i>
                                    </label>

                                            <span class="label label-success"
                                                  th:if="${parameter.level == 1}">Normal</span>
                                            <span class="label label-warning"
                                                  th:if="${parameter.level == 2}">Advanced</span>
                                            <span class="label label-danger"
                                                  th:if="${parameter.level > 2}">Expert</span>
                                </div>

                                <div class="col-lg-8">

                                    <div th:if="${parameter.type == T(com.olifarm.olive.job.cliapplication.ParameterType).BOOLEAN}">

                                        <input th:field="*{app.parameters[__${stat.index}__].arguments}"
                                               th:value="TRUE"
                                               type="checkbox"/>
                                    </div>

                                    <div th:if="${parameter.type == T(com.olifarm.olive.job.cliapplication.ParameterType).TEXT}">

                                        <input class="form-control"
                                               th:field="*{app.parameters[__${stat.index}__].arguments}"/>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                    <button type="submit" class="btn btn-default btn-lg btn-block">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

</html>
