<!--
  ~
  ~     OliveWeb is the webinterface for the OliveProject.
  ~     Copyright (C) 2016  Olivier Bakker & Harm Brugge
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~     Olivier Bakker: o.b.bakker@st.hanze.nl
  ~     Harm Brugge: h.brugge@st.hanze.nl
  ~
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

    <div th:fragment="top-header-main-interface">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/olive}">
                <i class="fa fa-glass"></i>
                Home
            </a>

            <!--<span class="navbar-brand">-->
            <!--Logged in as:-->
            <!--<span sec:authentication="name"></span>-->
            <!--</span>-->

            <a class="btn btn-default navbar-btn" style="background-color:orange; color:white"
               th:href="@{/report-issue}">Report Issues</a>
            <p class="navbar-text">WORK IN PROGRESS, alpha-build v.0.3</p>

        </div>

        <ul class="nav navbar-top-links navbar-right">

            <!-- JOB STATUS -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-history fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul id="job-status-dropdown-container" class="dropdown-menu dropdown-tasks">
                </ul>
            </li>
            </li>
            <!-- /JOB STATUS -->

            <!-- NOTIFICATIONS -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul id="notification-dropdown-container" class="dropdown-menu dropdown-alerts">
                </ul>


            </li>
            <!-- /DROPDOWN-->

            <!-- MAIN MENU -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a th:href="@{/settings}"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
            <!-- /MAIN MENU -->
        </ul>

    </div>


    <!-- SIDEBAR -->
    <div th:fragment="sidebar-main-interface">
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a th:href="@{/olive}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-briefcase"></i> Manage<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a th:href="@{/view-jobs}"> Jobs</a></li>
                            <!--<li><a th:href="@{/view-job-groups}"> Job Groups</a></li>-->
                            <li><a th:href="@{/view-projects}"> Projects</a></li>
                        </ul>

                    </li>

                    <li>
                        <a href="#"><i class="fa fa-play"></i> New job <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li th:each="app : ${apps}">
                                <a th:href="@{/new-job(id=${app.id})}" th:text="${app.name}"></a>
                            </li>
                        </ul>
                    </li>

                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="#"><i class="fa fa-cogs"></i> Admin Tools<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a th:href="@{/admin/add-app}">Add app</a>
                            </li>
                            <li>
                                <a th:href="@{/admin/edit-app}">Edit app</a>
                            </li>
                            <li>
                                <a th:href="@{/admin/peregrine-config}">Peregrine config</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </div>
</nav>

</html>