<!DOCTYPE html>
<!--
  ~
  ~ OliveWeb is the webinterface for the OliveProject.
  ~ Copyright (C) 2016  Olivier Bakker & Harm Brugge
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~ Olivier Bakker: o.b.bakker@st.hanze.nl
  ~  Harm Brugge: h.brugge@st.hanze.nl
  ~
  ~
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<div th:fragment="main-status-bar">
    <div class="col col-lg-12">
        <div class="panel panel-default">

            <div class="panel-heading clearfix">

                <form class="form form-inline pull-right">
                    <div class="form-group form-group-sm">
                        <label for="update-time-select">Update interval</label>
                        <select class="form-control" id="update-time-select">
                            <option value="10000" selected="selected">15 seconds</option>
                            <option value="30000">30 seconds</option>
                            <option value="600000">1 minute</option>
                            <option value="1200000">2 minute's</option>
                            <option value="10000000">10 minute's</option>
                        </select>
                    </div>
                </form>

                <i class="fa fa-hourglass-start"></i> Status
            </div>

            <div class="panel-body">
                <div class="progress">
                    <div id="main-status" class="progress-bar progress-bar-striped"
                         role="progressbar"
                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                         th:text="${job.status}"
                    >
                    </div>
                </div>
                <span th:if="${job.peregrineEnabled == false}" id="number-of-jobs-text">Number of jobs in queue: <span
                        id="number-of-jobs-value"></span></span>
                <a th:if="${job.peregrineEnabled == true}" target="_blank"
                   href="http://app.webhosting.rug.nl/peregrine/">Peregrine status</a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="controls-info-panels">
    <div class="col col-lg-4">
        <div class="panel panel-default">

            <div class="panel-heading">
                <i class="fa fa-wrench"></i> Controls
            </div>

            <div class="panel-body">
                <a th:href="@{/rerun-job(id=${job.id})}" class="btn btn-default">Rerun this job</a>
                <!--<a class="btn btn-default">Remove this job</a>-->

                <a th:if="${job.peregrineEnabled == true}" th:onclick="'peregrineModule.cancelJob(' + ${job.id} + ')'" class="btn btn-default">Cancel this job</a>
            </div>
        </div>
    </div>

    <div class="col col-lg-8">
        <div class="panel panel-default">

            <div class="panel-heading">
                <i class="fa fa-info"></i> Info
            </div>

            <div class="panel-body">
                <div class="table">
                    <table class="table">
                        <tr>
                            <th><b>Name</b></th>
                            <td><b>Id</b></td>
                            <td th:if="${job.peregrineEnabled}"><b>Peregrine id</b></td>
                            <td><b>Start time</b></td>
                            <td><b>Stop time</b></td>
                            <td><b>Application</b></td>
                        </tr>
                        <tr>
                            <td><span th:text="${job.name}"></span></td>
                            <td><span th:text="${job.id}"></span></td>
                            <td th:if="${job.peregrineEnabled}"><span th:text="${job.peregrineJobId}"></span></td>
                            <td><span th:text="${job.startTime}"></span></td>
                            <td><span th:text="${job.stopTime}"></span></td>
                            <td><span th:text="${job.app.name}"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="downloads-section">
    <div class="col col-lg-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <i class="fa fa-download"></i> Downloads
            </div>

            <div class="panel-body">

                <div id="download-failed-alert" style="display:none;" class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" onclick="$('#download-failed-alert').hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Ow dear.</strong> Looks like the file you tried to download could not be found. Sorry :(
                </div>

                <table class="table">
                    <tr>
                        <th class="col-xs-1">Download</th>
                        <!--<th class="col-xs-1">Send to app</th>-->
                        <th>Description</th>
                        <th>Filename</th>
                    </tr>
                    <tr th:each="parameter: ${job.app.parameters}"
                        th:if="${  parameter.type.toString() == 'OUTPUT_FILE' or
                                                parameter.type.toString() == 'OUTPUT_ZIP_FILE' or
                                                parameter.type.toString() == 'STD_OUT' or
                                                parameter.type.toString() == 'STD_ERR'}">

                        <td>
                            <a th:onclick="'doFileDownload(' + ${job.id} + ',' + ${parameter.id} + ')'">
                                <i class="fa fa-arrow-circle-down fa-2x"></i>
                            </a>
                        </td>
                        <td>
                            <span th:text="${parameter.description}"></span>
                        </td>
                        <td>
                            <span th:text="${parameter.fileNameFromPath}"></span>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

<div th:fragment="parameters-table">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bars"></i> Parameters
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table id="param-table" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Flag</th>
                            <th>Description</th>
                            <th>Value</th>
                            <th>Filename</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="javascript">

    <script th:src="@{/js/modules/peregrine_module.js}"></script>
    <script>
        $(function () {
            var jobId = $("meta[name='_job-id']").attr("content");
            var currentStatus = '';
            var job;

            basicGet('/data/job?id=' + jobId, setupPage, token, header);

            function setupPage(data) {
                job = data;
                updateJobStatusBar('#main-status', data.status);

                $("#param-table").DataTable({
                    autoWidth: false,
                    data: job.app.parameters,
                    columns: [
                        {data: "name"},
                        {data: "flag"},
                        {data: "description"},
                        {data: "arguments"},
                        {data: "fileNameFromPath"}
                    ]
                });

                if (!jobHasCompleted(job.status)) {
                    statusRequest();
                }
            }

            function authorize(form) {
                peregrineModule.doPeregrineLogin(form, statusRequest);
            }

            function statusRequest() {
                var updateTime = $("#update-time-select").val();

                if (!job.peregrineEnabled) {
                    basicGet('/data/queue-size',
                            function (size) {
                                $("#number-of-jobs-value").html(size)
                            },
                            token,
                            header);
                }

                $.ajax({
                    url: '/data/job-status?id=' + jobId,
                    type: 'get',
                    data: {
                        _csrf: token
                    },
                    dataType: 'json',
                    error: function (jqXHR, textStatus, errorThrown) {
                        if (jqXHR.status == 401) {
                            $("#peregrine-modal").modal();
                        }
                    },
                    success: function (status) {
                        if (jobHasCompleted(status)) {
                            location.reload();
                        } else {
                            if (status != currentStatus) {
                                currentStatus = status;
                                updateJobStatusBar('#main-status', status);
                            }
                            setTimeout(function () {
                                statusRequest();
                            }, updateTime);
                        }
                    }
                });
            }

            $("#peregrine-login").submit(authorize);
        });
    </script>
</div>


</html>