<!DOCTYPE html>

<!--
  ~
  ~     OliveWeb is the webinterface for the OliveProject.
  ~     Copyright (C) 2016  Olivier Bakker & Harm Brugge
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~     Olivier Bakker: o.b.bakker@st.hanze.nl
  ~     Harm Brugge: h.brugge@st.hanze.nl
  ~
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="params_size" th:content="${app.parameters.size()}" th:unless="${#lists.isEmpty(app.parameters)}"/>

    <title>Add app</title>

    <!-- Include the required CSS -->
    <div th:include="authenticated/fragments/basic_resources :: basic-css"></div>

    <!-- DataTables CSS -->
    <link th:href="@{/css/data_tables.min.css}" rel="stylesheet"/>
</head>

<body>

<div id="wrapper">

    <!-- Main interface navigation i.e sidebar and top bar -->
    <div th:include="authenticated/fragments/main_navigation"></div>

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add application</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-cubes"></i> Parameters
                    </div>
                    <div class="panel-body">

                        <form class="form-horizontal" id="add-app-form" th:object="${app}" th:action="@{/admin/set-app}"
                              method="post" enctype="multipart/form-data">
                            <h4>Application</h4>
                            <hr/>
                            <div id="app-settings">

                                <input type="hidden" th:field="*{id}"/>

                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('name') ? 'has-error' : '' }">
                                    <label class="col-lg-2 control-label" for="name">Name</label>

                                    <div class="col-lg-10">
                                        <input class="form-control" id="name" th:field="*{name}" type="text"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <div class="checkbox">
                                            <label>
                                                <input id="is-zip-output" th:field="*{zipOutput}" type="checkbox">
                                                Zip the output files
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="list-sep">List separator</label>

                                    <div class="col-lg-10">
                                        <input class="form-control" id="list-sep" th:field="*{listSeparator}"
                                               type="text"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <div class="checkbox">
                                            <label>
                                                <input id="is-custom-view" th:field="*{customView}" type="checkbox">
                                                Use custom view
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <div class="checkbox">
                                            <label>
                                                <input id="is-peregrine-enabled" th:field="*{peregrineEnabled}"
                                                       type="checkbox">
                                                Runnable on Peregrine
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group hidden" id="module-settings">
                                    <label class="col-lg-2 control-label" for="modules">Modules</label>

                                    <div class="col-lg-10">
                                        <select multiple id="modules" data-placeholder="Modules"
                                                class="chosen-select form-control" th:field="*{modules}">
                                            <!-- Span is necessary because otherwise selected would be overridden -->
                                            <span th:each="module: ${modules}">
                                                <option th:value="${module.id}"
                                                        th:text="${module.name}"
                                                        th:selected="${#lists.contains(app.modules , module)}">
                                                </option>
                                            </span>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <h4>Parameters</h4>
                            <hr/>

                            <div id="param-settings">
                                <div th:each="parameter, stat : *{parameters}"
                                     th:id="'param-' + __${stat.index}__">

                                    <input type="text"
                                           class="hidden"
                                           th:field="*{parameters[__${stat.index}__].id}"/>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="btn-group pull-right">

                                                <button aria-expanded="false" type="button"
                                                        class="btn btn-default btn-xs dropdown-toggle pull-right"
                                                        data-toggle="dropdown">
                                                    <i class="fa fa-cog"></i> Options
                                                    <span class="caret"></span>
                                                </button>

                                                <ul class="dropdown-menu pull-right" role="menu">
                                                    <li>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input th:id="'param-remove-'+ __${stat.index}__"
                                                                       th:field="*{parameters[__${stat.index}__].remove}"
                                                                       type="checkbox"/>Remove
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <!--<li class="divider"></li>-->
                                                </ul>

                                                <a class="btn btn-default btn-xs pull-right"
                                                   th:id="'param-show-'+ __${stat.index}__"
                                                   th:onclick="'event.preventDefault(); appModule.toggleShowParameter('+ __${stat.index}__+')'"
                                                >show/hide</a>

                                            </div>

                                            <b>Name:</b><span th:text="*{parameters[__${stat.index}__].name}"></span>
                                        </div>
                                    </div>

                                    <hr style="margin:2px">

                                    <div class="param-hidden" th:id="'param-hidden-' + __${stat.index}__">

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Name </label>

                                            <div class="col-lg-10"
                                                 th:classappend="${#fields.hasErrors('parameters[' + __${stat.index}__ + '].name') ? 'has-error' : '' }">
                                                <input class="form-control"
                                                       th:field="*{parameters[__${stat.index}__].name}"
                                                       type="text"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Form group</label>

                                            <div class="col-lg-10"
                                                 th:classappend="${#fields.hasErrors('parameters[' + __${stat.index}__ + '].formGroup') ? 'has-error' : '' }">
                                                <input class="form-control"
                                                       th:field="*{parameters[__${stat.index}__].formGroup}"
                                                       type="text"/>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-lg-2 control-label" for="param-flag">Flag </label>

                                            <div class="col-lg-10"
                                                 th:classappend="${#fields.hasErrors('parameters[' + __${stat.index}__ + '].flag') ? 'has-error' : '' }">
                                                <input class="form-control" id="param-flag"
                                                       th:field="*{parameters[__${stat.index}__].flag}" type="text"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <div class="checkbox">
                                                    <label>
                                                        <input id="param-allow-multiple"
                                                               th:field="*{parameters[__${stat.index}__].allowMultiple}"
                                                               type="checkbox"/>Allow multiple
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <div class="checkbox">
                                                    <label>
                                                        <input id="param-long-flag"
                                                               th:field="*{parameters[__${stat.index}__].longFlag}"
                                                               type="checkbox"/>Long flag
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label" for="param-type">Type</label>

                                            <div class="col-lg-10">
                                                <select class="form-control"
                                                        th:field="*{parameters[__${stat.index}__].type}"
                                                        id="param-type">

                                                    <option th:each="elem: ${T(com.olifarm.olive.job.cliapplication.ParameterType).values()}"
                                                            th:value="${elem.name()}" th:text="${elem.name()}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label" for="param-arg_num">Number of
                                                arguments</label>
                                            <div class="col-lg-10"
                                                 th:classappend="${#fields.hasErrors('parameters[' + __${stat.index}__ + '].argNum') ? 'has-error' : '' }">
                                                <input class="form-control" id="param-arg_num"
                                                       th:field="*{parameters[__${stat.index}__].argNum}" type="text"/>
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <label class="col-lg-2 control-label" for="param-arg_sep">
                                                Separator between flag and argument(s)
                                            </label>

                                            <div class="col-lg-10"
                                                 th:classappend="${#fields.hasErrors('parameters[' + __${stat.index}__ + '].argSep') ? 'has-error' : '' }">
                                                <input class="form-control" id="param-arg_sep"
                                                       th:field="*{parameters[__${stat.index}__].argSep}" type="text"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label"
                                                   for="param-description">Description</label>

                                            <div class="col-lg-10"
                                                 th:classappend="${#fields.hasErrors('parameters[' + __${stat.index}__ + '].description') ? 'has-error' : '' }">
                                            <textarea class="form-control" id="param-description"
                                                      th:field="*{parameters[__${stat.index}__].description}"
                                                      rows="3"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label" for="param-level">Level</label>

                                            <div class="col-lg-10">

                                                <select class="form-control" id="param-level"
                                                        th:field="*{parameters[__${stat.index}__].level}">
                                                    <option value="1">Normal</option>
                                                    <option value="0">Invisible</option>
                                                    <option value="2">Advanced</option>
                                                    <option value="3">Expert</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label"
                                                   for="param-extentsion">Extension</label>

                                            <div class="col-lg-10">
                                                <input class="form-control" id="param-extentsion"
                                                       th:field="*{parameters[__${stat.index}__].extension}"
                                                       type="text"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label"
                                                   for="param-addition">Addition (between filename and
                                                extenstion)</label>

                                            <div class="col-lg-10">
                                                <input class="form-control" id="param-addition"
                                                       th:field="*{parameters[__${stat.index}__].addition}"
                                                       type="text"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label"
                                                   for="param-addition">Default value</label>

                                            <div class="col-lg-10">
                                                <div th:if="${parameter.type == T(com.olifarm.olive.job.cliapplication.ParameterType).BOOLEAN}">

                                                    <input th:field="*{parameters[__${stat.index}__].arguments}"
                                                           th:value="TRUE"
                                                           type="checkbox"/>
                                                </div>

                                                <div th:if="${parameter.type == T(com.olifarm.olive.job.cliapplication.ParameterType).TEXT}">

                                                    <input class="form-control"
                                                           th:field="*{parameters[__${stat.index}__].arguments}"/>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-default btn-lg btn-block" type="button" id="add-param-to-form"
                                    onclick="appModule.addParameter()">
                                Add Parameter
                            </button>

                            <button type="submit" class="btn btn-default btn-lg btn-block">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include the required javascript for this interface -->
<div th:include="authenticated/fragments/basic_resources :: basic-js"></div>
<div th:include="authenticated/fragments/js_templates/parameter_form"></div>
<script th:src="@{/js/modules/app_module.js}"></script>

<script>
    $(function () {
        appModule.collapseAllParameter();
        appModule.showOrHideModule();

        $(".chosen-select").chosen();

        $("#is-peregrine-enabled").change(function () {
            appModule.showOrHideModule();
        });
    });
</script>
</body>
</html>