<!DOCTYPE html>

<!--
  ~
  ~     OliveWeb is the webinterface for the OliveProject.
  ~     Copyright (C) 2016  Olivier Bakker & Harm Brugge
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~     Olivier Bakker: o.b.bakker@st.hanze.nl
  ~     Harm Brugge: h.brugge@st.hanze.nl
  ~
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Peregrine configuration</title>

    <!-- Include the required CSS -->
    <div th:include="authenticated/fragments/basic_resources :: basic-css"></div>

    <!-- DataTables CSS -->
    <link th:href="@{/css/data_tables.min.css}" rel="stylesheet"/>
</head>

<body>

<div id="wrapper">

    <!-- Main interface navigation i.e sidebar and top bar -->
    <div th:include="authenticated/fragments/main_navigation"></div>

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Peregrine Modules</h1>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-default col-md-6">
                <div class="panel-body">

                    <table class="table table-hover table-condensed" id="modules">
                        <thead>
                        <tr>
                            <th>Remove</th>
                            <th>Name</th>
                            <th>Version</th>
                        </tr>
                        </thead>
                        <tbody>

                        <!--<tr th:each="module : ${modules}">-->
                        <!--<td th:text="${module.id}">id</td>-->
                        <!--<td th:text="${module.name}">module</td>-->
                        <!--<td th:text="${module.version}">module</td>-->
                        <!--</tr>-->

                        </tbody>
                    </table>

                    <form id="settings-form" class="form-inline" onsubmit="event.preventDefault(); peregrineModule.addModulePost()" method="post">

                        <div class="form-group">
                            <label for="peregrine-module-name">
                                Add module
                            </label>
                            <input id="peregrine-module-name" class="form-control" type="text"/>
                        </div>

                        <div class="form-group">
                            <label for="peregrine-module-version">
                                version
                            </label>
                            <input id="peregrine-module-version" class="form-control" type="text"/>
                        </div>

                        <button type="submit" class="btn btn-default">Add</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include the required javascript for this interface -->
<div th:include="authenticated/fragments/basic_resources :: basic-js"></div>
<script th:src="@{/webjars/datatables/1.10.9/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/webjars/datatables/1.10.9/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/js/modules/peregrine_module.js}"></script>

<script>
    $('#modules').DataTable({
        "bLengthChange": false,
        "iDisplayLength": 10,
        "bFilter": true,
        "bSort": true,
        "bInfo": false,
        "ajax": {
            "url": "/admin/get-modules",
            "type": "GET",
            "dataSrc": ""
        },
        "columns": [
            {
                "mData": "id",
                "render": function (data) {
                    return '<i class="fa fa-times clickable-remove" onclick="peregrineModule.removeModule(' + data + ')"></i>';
                }
            },
            {"mData": "name"},
            {"mData": "version"}]
    });
</script>

</body>

</html>