<!DOCTYPE html>
<!--
  ~
  ~     OliveWeb is the webinterface for the OliveProject.
  ~     Copyright (C) 2016  Olivier Bakker & Harm Brugge
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~     Olivier Bakker: o.b.bakker@st.hanze.nl
  ~     Harm Brugge: h.brugge@st.hanze.nl
  ~
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Login</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <!-- Custom CSS -->
    <link th:href="@{webjars/startbootstrap-sb-admin-2/1.0.7/css/sb-admin-2.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/login.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/landing_page.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/olive_public.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{images/favicon.svg}" rel="shortcut icon" />

    <!-- Custom Fonts -->
    <!--<link th:href="@{webjars/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />-->
</head>

<body class="login-body">

<!-- Navigation -->
<div th:include="public/fragments/public_navigation"></div>

<div class="container">

    <div class="row vertical-center-row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="login-background">

                        <form id="account-form" class="form-horizontal" action="#" th:action="@{/generate-account}"
                              th:object="${user}"
                              method="post">

                            <div class="form-group has-feedback">
                                <label for="username" class="col-lg-2 control-label">Username</label>

                                <div class="col-lg-10"
                                     th:classappend="${#fields.hasErrors('username') ? 'has-error' : '' }">
                                    <input type="text" th:field="*{username}" class="form-control" id="username"
                                           placeholder="Username" required/>
                                <span th:if="${#fields.hasErrors('username')}"
                                      class="glyphicon glyphicon-remove form-control-feedback"
                                      aria-hidden="true"></span>
                                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label for="name" class="col-lg-2 control-label">Name</label>

                                <div class="col-lg-10"
                                     th:classappend="${#fields.hasErrors('name') ? 'has-error' : '' }">
                                    <input type="text" th:field="*{name}" class="form-control" id="name"
                                           placeholder="Name" required/>
                                <span th:if="${#fields.hasErrors('name')}"
                                      class="glyphicon glyphicon-remove form-control-feedback"
                                      aria-hidden="true"></span>
                                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label for="surname" class="col-lg-2 control-label">Surname</label>

                                <div class="col-lg-10"
                                     th:classappend="${#fields.hasErrors('surname') ? 'has-error' : '' }">
                                    <input type="text" th:field="*{surname}" class="form-control" id="surname"
                                           placeholder="Surname" required/>
                                <span th:if="${#fields.hasErrors('surname')}"
                                      class="glyphicon glyphicon-remove form-control-feedback"
                                      aria-hidden="true"></span>
                                    <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>

                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label for="email" class="col-lg-2 control-label">Email</label>

                                <div class="col-lg-10"
                                     th:classappend="${#fields.hasErrors('email') ? 'has-error' : '' }">
                                    <input type="text" th:field="*{email}" class="form-control" id="email"
                                           placeholder="E-mail" required/>
                                <span th:if="${#fields.hasErrors('email')}"
                                      class="glyphicon glyphicon-remove form-control-feedback"
                                      aria-hidden="true"></span>
                                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label for="password" class="col-lg-2 control-label">Password</label>

                                <div class="col-lg-10"
                                     th:classappend="${#fields.hasErrors('password') ? 'has-error' : '' }">
                                    <input type="password" th:field="*{password}" class="form-control" id="password"
                                           placeholder="Password" required/>
                                <span th:if="${#fields.hasErrors('password')}"
                                      class="glyphicon glyphicon-remove form-control-feedback"
                                      aria-hidden="true"></span>
                                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label for="confirm-pass" class="col-lg-2 control-label">Password</label>

                                <div class="col-lg-10" id="match-pass-input">

                                    <input id="confirm-pass" class="form-control" name="confirm-pass"
                                           type="password" placeholder="Re-enter password"/>
                                    <span id="match-pass-message"></span>
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="submit" class="btn btn-info">Create</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>

<!-- jQuery -->
<script th:src="@{webjars/jquery/2.1.4/jquery.min.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script th:src="@{webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

<script th:src="@{js/password_checker.js}"></script>


</html>