<!DOCTYPE html>
<!--
  ~
  ~     OliveWeb is the webinterface for the OliveProject.
  ~     Copyright (C) 2016  Olivier Bakker & Harm Brugge
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~     Olivier Bakker: o.b.bakker@st.hanze.nl
  ~     Harm Brugge: h.brugge@st.hanze.nl
  ~
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Welcome to olive</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{webjars/startbootstrap-sb-admin-2/1.0.7/css/sb-admin-2.css}" rel="stylesheet" type="text/css"/>

    <!-- Custom CSS -->
    <link th:href="@{css/landing_page.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/pv_viewer.css}" rel="stylesheet"/>
    <link th:href="@{css/olive_public.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{images/favicon.svg}" rel="shortcut icon" />

    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{webjars/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

</head>

<!--Navigation menu-->
<div th:include="public/fragments/public_navigation"></div>

<body>

<div id="container">

    <a name="header"></a>

    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Olive</h1>
                        <h3><h3>Martinitools made easy (hopefully)</h3></h3>
                        <hr class="intro-divider"/>
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://bitbucket.org/olifarmproductions/"
                                   class="btn btn-default btn-lg">
                                    <i class="fa fa-bitbucket fa-fw"></i>
                                    <span class="network-name">Bitbucket</span></a>
                            </li>
                            <li>
                                <a th:href="@{/olive}"
                                   class="btn btn-default btn-lg">
                                    <i class="fa fa-glass fa-fw"></i>
                                    <span class="network-name">Olive</span></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a name="about"></a>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">

                    <hr class="section-heading-spacer"/>
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About the project</h2>

                    <p class="lead">Olive is a project that attempts to create a webinterface for Tsjerk Wassenaar et.
                        al.
                        Martinitools package. It does this by creating a generic pipeline for running apllication form a
                        webinterface in such a way that the running of applications is not done by the webserver.</p>
                </div>
                <div class="col-lg-7 col-sm-6">
                    <div id="viewer-one" style="min-height: 250px;"></div>
                </div>
            </div>
        </div>
    </div>

    <a name="aboutCreators"></a>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-6">
                    <img class="landing-page-image-one" th:src="@{/images/olive_file_flow.png}"/>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer"/>
                    <div class="clearfix"></div>
                    <h2 class="section-heading">How it works</h2>

                    <p class="lead">
                        Olive is built in 3 major parts. OliveWeb, OliveNode and OliveCore. OliveWeb is
                        the webserver side of the application. OliveWeb handles all the requests made by users it
                        process
                        these requests and sends them to a instance of OliveNode via AMQP.
                        OliveWeb is built using the Spring framework. The actual execution of requests is handled by a
                        separate layer called OliveNode. OliveNode is able to run on different hardware than the
                        webserver
                        so the webserver doesnt need to do all the heavy processing for programs such as Martinate or
                        Gromacs.

                        OliveCore is our package containing API level methods and data structures used for communicating
                        between the web and node applications.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer"/>
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About us</h2>
                    <p class="lead">We are Olivier Bakker and Harm Brugge, 2 third year Bio-Informatics students
                        at the Hanze University of Applied Sciences. </p>
                </div>
                <div class="col-lg-7 col-sm-6">
                    <div id="viewer-two" style="min-height: 250px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-6">


                </div>
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer"/>
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Special thanks</h2>

                    <p class="lead">We would like to thank the following people for helping us during the creation of
                    Olive

                        <br/>
                    Piet Plomp, Marcel Kempenaar and Michiel Noback for helping with technical support.

                    Bob Droge and Laurent Jensma for providing technical support for Peregrine.

                    And finally, Tsjerk Wassenaar for providing access to Martinitools and suppling inspiration.
                    </p>
                    <br/>
                    <br/>
                    <br/>

                </div>
            </div>

        </div>
        <!-- /.container -->

    <!--</div>-->
    <div class="banner">
        <a name="contact"></a>

        <div class="container">
            <div class="row">

                <div class="col-lg-6">
                    <h2>Contact</h2>
                    <hr class="section-heading-spacer"/>
                    <br/>
                    <br/>
                    <br/>
                    <div class="contact-section">
                        Tsjerk Wassenaar <br/>
                        Harm Brugge <br/>
                        Olivier Bakker
                    </div>
                </div>

                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <!--<li>-->
                        <!--<a href="#" class="btn btn-default btn-lg">-->
                        <!--<i class="glyphicon glyphicon-envelope" style="vertical-align:middle"></i>-->
                        <!--<span class="network-name">Email</span></a>-->
                        <!--</li>-->
                        <li>
                            <a href="https://bitbucket.org/olifarmproductions/"
                               class="btn btn-default btn-lg">
                                <i class="fa fa-bitbucket fa-fw" style="vertical-align:middle"></i>
                                <span class="network-name">Bitbucket</span></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /.banner -->

<!-- Footer -->
<div th:include="public/fragments/footer"></div>

<!-- jQuery -->
<script th:src="@{webjars/jquery/2.1.4/jquery.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

<script th:src="@{/js/pv.min.js}"></script>

<script th:src="@{/js/modules/pv_viewer_module.js}"></script>

<script>
    $(function(){

        function setupOne(data) {
            structureOne = pv.io.pdb(data, {loadAllModels: true});
            pvViewerModule.basicPreset(viewerOne, structureOne);
            viewerOne.centerOn(structureOne);
            viewerOne.setZoom(40);
        }

        function setupTwo(data) {
            structureTwo = pv.io.pdb(data, {loadAllModels: true});
            pvViewerModule.basicPreset(viewerTwo, structureTwo);
            viewerTwo.centerOn(structureTwo);
            viewerTwo.setZoom(75);
        }

        var viewerOne = pv.Viewer($('#viewer-one')[0],
                {
                    quality: 'medium', width: 'auto', height: 'auto',
                    antialias: true, outline: true, background: "#F6F6F6"
                });
        var structureOne;

        var viewerTwo = pv.Viewer($('#viewer-two')[0],
                {
                    quality: 'medium', width: 'auto', height: 'auto',
                    antialias: true, outline: true, background: "#F6F6F6"
                });
        var structureTwo;

        pvViewerModule.loadPdb("pdb1ubq.pdb", setupOne);
        pvViewerModule.loadPdb("pdb2xwt.ent", setupTwo);

        $(window).resize(function (event) {
            viewerOne.fitParent();
            viewerTwo.fitParent();
        });
    });

</script>

</body>
</html>