<!DOCTYPE html>
<!--
  ~
  ~     OliveWeb is the webinterface for the OliveProject.
  ~     Copyright (C) 2016  Olivier Bakker & Harm Brugge
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~     Olivier Bakker: o.b.bakker@st.hanze.nl
  ~     Harm Brugge: h.brugge@st.hanze.nl
  ~
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Login</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <!-- Custom CSS -->
    <link th:href="@{/webjars/startbootstrap-sb-admin-2/1.0.7/css/sb-admin-2.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/olive_public.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/landing_page.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{images/favicon.svg}" rel="shortcut icon" />

    <!-- Custom Fonts -->
    <!--<link th:href="@{webjars/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />-->
</head>

<!-- Navigation -->
<div th:include="public/fragments/public_navigation"></div>

<body class="login-body">
<div class="container">
    <div class="row vertical-center-row">

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="login-background">

                        <form class="form-horizontal" th:action="@{/login}" method="post">

                            <div class="form-group">
                                <label for="usernameLabel" class="col-lg-2 control-label">Username</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="usernameLabel" name="username"
                                           placeholder="Username" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="passwordLabel" class="col-lg-2 control-label">Password</label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="passwordLabel" name="password"
                                           placeholder="Password" required/>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-lg-offset-2 col-lg-10">
                                    <a type="button" class="btn btn-info" th:href="@{/generate-account}">Make an account</a>
                                    <a type="button" class="btn btn-info" th:href="@{/recover-password}">Forgot password?</a>
                                    <button type="submit" id="loginSubmit" class="btn btn-default" value="Sign In">Log
                                        in
                                    </button>
                                </div>

                            </div>

                        </form>

                        <strong>
                            <div th:if="${recoveryEmailSent}" >
                                Success! The recovery email has been sent.
                            </div>
                            <div th:if="${param.error}">
                                Invalid username or password.
                            </div>
                            <div th:if="${param.logout}">
                                You have been succesfully logged out.
                            </div>

                            <span th:text="${message}"></span>

                        </strong>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!-- jQuery -->
<script th:src="@{webjars/jquery/2.1.4/jquery.min.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script th:src="@{webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

</html>