/*
 *
 *     OliveWeb is the webinterface for the OliveProject.
 *     Copyright (C) 2016  Olivier Bakker & Harm Brugge
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *     Olivier Bakker: o.b.bakker@st.hanze.nl
 *     Harm Brugge: h.brugge@st.hanze.nl
 *
 *
 */

html, body,
.container {
    height: 100%;
}

.container {
    display: table;
    vertical-align: middle;
}

.login-body {
    /*background: -webkit-linear-gradient(#ffffff, #cfcfcf); /*  For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#ffffff, #cfcfcf); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#ffffff, #cfcfcf); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#ffffff, #cfcfcf); /* Standard syntax (must be last) */
    background: url("../images/membrane.png") no-repeat center center;
    background-size: cover;

}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.login-background {
    /*background:black;*/
    color: white;
    padding: 20px;
    border-radius: 20px;
    /*opacity: 0.8;*/
    background-color: rgba(0, 0, 0, 0.5);
}