/*
 *
 *     OliveWeb is the webinterface for the OliveProject.
 *     Copyright (C) 2016  Olivier Bakker & Harm Brugge
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *     Olivier Bakker: o.b.bakker@st.hanze.nl
 *     Harm Brugge: h.brugge@st.hanze.nl
 *
 *
 */

.btn-info {
    background-color: orange;
    border-color: orange;
}

.btn-info:hover {
    background-color: darkorange;
    border-color: darkorange;
}

.navbar-default .navbar-brand:hover {
    color: orange;
}

.navbar-default .navbar-nav > li > a:hover {
    color: orange;
}

.sidebar ul li a.active {
    background-color: darkorange;
    color: white;
}

.btn-default {
    background-color:whitesmoke;
    color: #404040;
}

.btn-default:hover {
    background-color: darkorange;
    border-color: white;
    color: white;
}

.btn-default:active {
    background-color: orange;
    border-color: orange;
    color: white;
}

a {
    color: orange;
    cursor:pointer;
}

a:hover {
    color: darkorange;
}


.advanced {
    color: #727272;

}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: orange;
    border-color: orange;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color: orange;
}

.pagination > li > a, .pagination > li > span {
    color: orange;
}

.panel-default > .panel-heading {
    color: white;
    background-color: orange;
}

.panel-warning > .panel-heading {
    background-color: white;
    color: darkslategrey;
}

.param-hidden {

}

.help-panel{
    width:32%;
}

.clickable-add {
    color: green;
    cursor: pointer;
}

.clickable-remove {
    color: red;
    cursor: pointer;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: orange;
    stroke-width: 3px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.collapse {
    display:none;
}


