/*
 *
 *     OliveWeb is the webinterface for the OliveProject.
 *     Copyright (C) 2016  Olivier Bakker & Harm Brugge
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *     Olivier Bakker: o.b.bakker@st.hanze.nl
 *     Harm Brugge: h.brugge@st.hanze.nl
 *
 *
 */

.btn-info {
    background-color: orange;
    border-color: orange;
}

.btn-info:hover {
    background-color: darkorange;
    border-color: darkorange;
}

.navbar-default .navbar-brand:hover {
    color: orange;
}

.navbar-default .navbar-nav > li > a:hover {
    color: orange;
}

.btn-default:hover {
    background-color: orange;
    border-color: orange;
    color: whitesmoke;
}

.btn-default:active {
    background-color: orange;
    border-color: orange;
    color: whitesmoke;
}

a {
    color: orange;
}

a:hover {
    color: darkorange;
}

.advanced {
    color: orangered;
}

.sad-panda {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}