/*
 *
 *     OliveWeb is the webinterface for the OliveProject.
 *     Copyright (C) 2016  Olivier Bakker & Harm Brugge
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *     Olivier Bakker: o.b.bakker@st.hanze.nl
 *     Harm Brugge: h.brugge@st.hanze.nl
 *
 *
 */

#henk {
    margin: 0px;
    width: 100%;
    height: 100%;
}

/*a {*/
/*color:#393;*/
/*}*/

#gl {
    position: relative;
    /*bottom:0px;*/
    /*top:0px;*/
    /*left:0px;*/
    /*right:0px;*/
}

#inspector {
    top: 10px;
    left: 10px;
    box-shadow: 2px 2px 5px #888888;
    border-radius: 8px;
    position: absolute;
    background-color: #fafafa;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

#inspector ul {
    padding: 0px;
}

#inspector ul li {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    list-style: none;
    cursor: pointer;
    color: orange;
}

#inspector ul li:hover {
    color: #994444;
}

#inspector h1 {
    font-weight: normal;
    font-size: 12pt;
}