<!DOCTYPE html>
<!--
  ~
  ~     OliveWeb is the webinterface for the OliveProject.
  ~     Copyright (C) 2016  Olivier Bakker & Harm Brugge
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~     Olivier Bakker: o.b.bakker@st.hanze.nl
  ~     Harm Brugge: h.brugge@st.hanze.nl
  ~
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Projects overview</title>

    <!-- Include the required CSS -->
    <div th:include="authenticated/fragments/basic_resources :: basic-css"></div>

    <!-- DataTables CSS -->
    <link th:href="@{/css/data_tables.min.css}" rel="stylesheet"/>
</head>

<body>

<div id="wrapper">

    <!-- Main interface navigation i.e sidebar and top bar -->
    <div th:include="authenticated/fragments/main_navigation"></div>

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Projects overview</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div id="tree-container">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-plus"></i> Add a project
                    </div>
                    <div class="panel-body">

                        <div id="add-project-form">
                            <form class="form from-horizontal"
                                  onsubmit="event.preventDefault(); treeModule.doAddProjectPost()">
                                <div class="form-group">
                                    <label for="project-name">Name</label>
                                    <input class="form-control" type="text" id="project-name" name="name"
                                           placeholder="name"/>
                                </div>
                                <div class="form-group">

                                    <label for="project-description">Description</label>
                                        <textarea class="form-control" id="project-description"
                                                  name="description" rows="1"></textarea>
                                </div>
                                <button class="btn btn-default pull-right" type="submit"><i class="fa fa-plus"></i> Add
                                </button>
                            </form>
                        </div>
                        <br/>

                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-eye"></i> Configured Projects
                    </div>
                    <div class="panel-body">
                        <div class="table">
                            <div class="dataTable_wrapper">
                                <table id="project-table" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>View project tree</th>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include the required javascript for this interface -->
<div th:include="authenticated/fragments/basic_resources :: basic-js"></div>
<div th:include="authenticated/fragments/add_group_modal"></div>
<div th:include="authenticated/fragments/remove_group_modal"></div>

<script th:src="@{/webjars/datatables/1.10.9/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/webjars/datatables/1.10.9/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/webjars/d3js/3.5.17/d3.min.js}"></script>

<script th:src="@{/js/modules/tree_module.js}"></script>

</body>
</html>