<!DOCTYPE html>

<!--
  ~
  ~ OliveWeb is the webinterface for the OliveProject.
  ~ Copyright (C) 2016  Olivier Bakker & Harm Brugge
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~ Olivier Bakker: o.b.bakker@st.hanze.nl
  ~  Harm Brugge: h.brugge@st.hanze.nl
  ~
  ~
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>View job group</title>

    <!-- Include the required CSS -->
    <div th:include="authenticated/fragments/basic_resources :: basic-css"></div>

    <!-- DataTables CSS -->
    <link th:href="@{/css/data_tables.min.css}" rel="stylesheet"/>
</head>

<body>

<div id="wrapper">

    <!-- Main interface navigation i.e sidebar and top bar -->
    <div th:include="authenticated/fragments/main_navigation"></div>

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Job group overview for: <span th:text="${jobGroup.name}"></span></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-info"></i> Info
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Number of children</th>
                                <th>Total number of jobs</th>
                                <th>Number of active jobs</th>
                                <th>Number of completed jobs</th>
                            </tr>
                            <tr>
                                <td th:text="${jobGroup.name}"></td>
                                <td th:text="${jobGroup.description}"></td>
                                <td th:text="${#arrays.length(jobGroup.children)}"></td>
                                <td th:text="${jobBatchInfo.getNumberOfJobs()}"></td>
                                <td th:text="${jobBatchInfo.getNumberOfActiveJobs()}"></td>
                                <td th:text="${jobBatchInfo.getNumberOfCompletedJobs()}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-child"></i> Children
                    </div>

                    <div class="panel-body">
                        <table id="job-group-table" class="table">
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Number of children</th>
                            </tr>
                            <tr th:each="jobGroup, stat: *{jobGroup.children}">
                                <td th:text="${jobGroup.name}"></td>
                                <td th:text="${jobGroup.description}"></td>
                                <td th:text="${#arrays.length(jobGroup.children)}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-briefcase"></i> Jobs
                    </div>

                    <div class="panel-body">
                        <div class="table">
                            <div class="dataTable_wrapper">
                                <table id="job-table" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>View job</th>
                                        <th>Job</th>
                                        <th>App</th>
                                        <th>Start</th>
                                        <th>Stop</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tr th:each="job, stat : *{jobs}">
                                        <th th:text="${job.id}"></th>
                                        <th th:text="${job.name}"></th>
                                        <th th:text="${job.app.name}"></th>
                                        <th th:text="${job.startTime}"></th>
                                        <th th:text="${job.stopTime}"></th>
                                        <th th:text="${job.status}"></th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include the required javascript for this interface -->
<div th:include="authenticated/fragments/basic_resources :: basic-js"></div>
<script th:src="@{/webjars/datatables/1.10.9/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/webjars/datatables/1.10.9/js/dataTables.bootstrap.min.js}"></script>

<script>
    $(function () {

        function updateJobgroupTable() {
            $("#job-table").DataTable({
                autoWidth: false,
                columns: [{
                    data: "id", render: function (data) {
                        return "<a class='fa fa-eye fa-lg' href='/job?id=" + data + "'></a>";
                    }
                },
                    {data: "name"},
                    {data: "app"},
                    {
                        data: "startTime", render: function (data) {
                        return dateTimeFormatter.formatDateTime(data);
                    }
                    },
                    {
                        data: "stopTime", render: function (data) {
                        if (data != null) {
                            return dateTimeFormatter.formatDateTime(data);
                        }
                        return "NA";
                    }
                    },
                    {data: "status"}]
            });
        }

        function updateJobsTable() {
            $("#job-table").DataTable({
                autoWidth: false,
                columns: [{
                    data: "id", render: function (data) {
                        return "<a class='fa fa-eye fa-lg' href='/job?id=" + data + "'></a>";
                    }
                },
                    {data: "name"},
                    {data: "app"},
                    {
                        data: "startTime", render: function (data) {
                        return dateTimeFormatter.formatDateTime(data);
                    }
                    },
                    {
                        data: "stopTime", render: function (data) {
                        if (data != null) {
                            return dateTimeFormatter.formatDateTime(data);
                        }
                        return "NA";
                    }
                    },
                    {data: "status"}]
            });
        }

        updateJobsTable()
    });
</script>

</body>

</html>