<!--
  ~
  ~     OliveWeb is the webinterface for the OliveProject.
  ~     Copyright (C) 2016  Olivier Bakker & Harm Brugge
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~     Olivier Bakker: o.b.bakker@st.hanze.nl
  ~     Harm Brugge: h.brugge@st.hanze.nl
  ~
  ~
  -->

<script id="job-status-dropdown-template" type="text/x-handlebars-template">
    {{#each objectArray}}

    <li>
        <a href="/job?id={{this.id}}">
            <div>
                <p>
                    <strong>Job {{this.usersJobId}}</strong>
                    <span class="pull-right text-muted">{{this.status}}</span>
                </p>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped {{getJobStatusClass status}}"
                         role="progressbar"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width:{{calculateJobStatusPercentage this.status}}%">
                    </div>
                </div>
            </div>
        </a>
    </li>

    <li class="divider"></li>
    {{/each}}
    <li><a class="text-center" href="/view-jobs"><strong>See All Jobs</strong><i class="fa fa-angle-right"></i></a>

</script>
