<script id="multiplicate-parameter-template-text" type="text/x-handlebars-template">


    <div id="param-{{paramId}}" class="form-group">

        <input type="hidden" value="{{id}}" name="app.parameters[{{paramId}}].id"/>
        <input type="hidden" value="{{flag}}" name="app.parameters[{{paramId}}].flag"/>
        <input type="hidden" value="{{type}}" name="app.parameters[{{paramId}}].type"/>
        <input type="hidden" value="{{longFlag}}" name="app.parameters[{{paramId}}].longFlag"/>
        <input type="hidden" value="{{argSep}}" name="app.parameters[{{paramId}}].argSep"/>

        <div class="col-lg-4">
            <i style="cursor:pointer;" class="fa fa-times-circle pull-right fa-lg" onclick="jobModule.removeTextParameter({{paramId}})"></i>
        </div>

        <div class="col-lg-8">
            <input class="form-control" name="app.parameters[{{paramId}}].arguments"/>
        </div>
    </div>

</script>