<!--
  ~
  ~     OliveWeb is the webinterface for the OliveProject.
  ~     Copyright (C) 2016  Olivier Bakker & Harm Brugge
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~     Olivier Bakker: o.b.bakker@st.hanze.nl
  ~     Harm Brugge: h.brugge@st.hanze.nl
  ~
  ~
  -->

<script id="parameter-form-template" type="text/x-handlebars-template">
    <div id="param-{{paramId}}">


        <input type="text" class="hidden" name="parameters[{{paramId}}].id" value="0"/>

        <div class="row">
            <div class="col-lg-12">

                <div class="btn-group pull-right">
                    <button aria-expanded="false" type="button" class="btn btn-default btn-xs dropdown-toggle pull-right"
                            data-toggle="dropdown">
                        <i class="fa fa-cog"></i> Options
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a id="param-remove-{{paramId}}" onclick="appModule.removeParameter({{paramId}})">Remove</a>
                        </li>
                    </ul>

                    <a class="btn btn-default btn-xs pull-right"
                       id="param-show-{{paramId}}"
                       onclick="appModule.toggleShowParameter({{paramId}})">show/hide</a>
                </div>
                <b>Name:</b> <span>Param {{paramId}}</span>

            </div>
        </div>

        <hr style="margin:2px">

        <div class="param-hidden" id="param-hidden-{{paramId}}">

            <div class="form-group">
                <label class="col-lg-2 control-label" for="param-name">Name </label>

                <div class="col-lg-10">
                    <input class="form-control" id="param-name" name="parameters[{{paramId}}].name" type="text"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="param-group">Form group</label>

                <div class="col-lg-10">
                    <input class="form-control" id="param-group" name="parameters[{{paramId}}].formGroup" type="text"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="param-flag">Flag </label>

                <div class="col-lg-10">
                    <input class="form-control" id="param-flag" name="parameters[{{paramId}}].flag" type="text"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <div class="checkbox">
                        <label>
                            <input id="param-allow-multiple" name="parameters[{{paramId}}].allowMultiple"
                                   type="checkbox"/>Allow multiple
                        </label>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <div class="checkbox">
                        <label>
                            <input id="param-long-flag" name="parameters[{{paramId}}].longFlag"
                                   type="checkbox"/>Long flag
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="param-type">Type</label>

                <div class="col-lg-10">
                    <select class="form-control" name="parameters[{{paramId}}].type" id="param-type">
                        <option value="TEXT">Text</option>
                        <option value="BOOLEAN">Boolean</option>
                        <option value="INPUT_FILE">Input file</option>
                        <option value="OUTPUT_FILE">Output file</option>
                        <option value="OUTPUT_DIR">Output directory</option>
                        <option value="OUTPUT_ZIP_FILE">Output .zip file</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="param-arg_num">Number of arguments</label>

                <div class="col-lg-10">
                    <input class="form-control" id="param-arg_num" name="parameters[{{paramId}}].argNum" type="text"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="param-arg_sep">
                    Separator between flag and argument(s)
                </label>

                <div class="col-lg-10">
                    <input class="form-control" id="param-arg_sep" name="parameters[{{paramId}}].argSep" type="text"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="param-description">Description</label>

                <div class="col-lg-10">
                <textarea class="form-control" id="param-description" name="parameters[{{paramId}}].description"
                          rows="3"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="param-level">Level</label>

                <div class="col-lg-10">
                    <select class="form-control" id="param-level" name="parameters[{{paramId}}].level">
                        <option value="1">Normal</option>
                        <option value="2">Advanced</option>
                        <option value="3">Expert</option>
                        <option value="0">Invisible</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="param-extentsion">Extension</label>

                <div class="col-lg-10">
                    <input class="form-control" id="param-extentsion" name="parameters[{{paramId}}].extension"
                           type="text"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="param-addition">Addition (between filename and extenstion)</label>

                <div class="col-lg-10">
                    <input class="form-control" id="param-addition"
                           name="parameters{{paramId}}.addition"
                           type="text"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label"
                       for="param-addition">Default value</label>

                <div class="col-lg-10">
                        <input class="form-control" name="parameters{{paramId}}.arguments"/>
                </div>
            </div>
        </div>

    </div>
</script>
