<!DOCTYPE html>

<!--
  ~
  ~     OliveWeb is the webinterface for the OliveProject.
  ~     Copyright (C) 2016  Olivier Bakker & Harm Brugge
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~     Olivier Bakker: o.b.bakker@st.hanze.nl
  ~     Harm Brugge: h.brugge@st.hanze.nl
  ~
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Olive settings</title>

    <!-- Include the required CSS -->
    <div th:include="authenticated/fragments/basic_resources :: basic-css"></div>

</head>

<body>

<div id="wrapper">

    <!-- Main interface navigation i.e sidebar and top bar -->
    <div th:include="authenticated/fragments/main_navigation"></div>

    <div id="page-wrapper">


        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Settings</h1>
                <div th:if="${message != null}" class="message">
                    <div class="alert alert-info alert-dismissable text-center">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;</button>
                        <span th:text="${message}"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-default col-md-6">
                <div class="panel-body">

                    <form id="settings-form" class="form-horizontal" action="#" th:object="${user}" method="post"
                          th:action="@{/settings}">

                        <input type="hidden" th:field="*{username}">

                        <div class="form-group has-feedback">
                            <label class="col-lg-2 control-label">Username</label>
                            <div class="col-lg-10">
                                <p th:text="*{username}" class="form-control-static">email@example.com</p>
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <label for="name" class="col-lg-2 control-label">Name</label>

                            <div class="col-lg-10"
                                 th:classappend="${#fields.hasErrors('name') ? 'has-error' : '' }">
                                <input type="text" th:field="*{name}" class="form-control" id="name"
                                       placeholder="Name" required/>
                                <span th:if="${#fields.hasErrors('name')}"
                                      class="glyphicon glyphicon-remove form-control-feedback"
                                      aria-hidden="true"></span>
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <label for="surname" class="col-lg-2 control-label">Surname</label>

                            <div class="col-lg-10"
                                 th:classappend="${#fields.hasErrors('surname') ? 'has-error' : '' }">
                                <input type="text" th:field="*{surname}" class="form-control" id="surname"
                                       placeholder="Surname" required/>
                                <span th:if="${#fields.hasErrors('surname')}"
                                      class="glyphicon glyphicon-remove form-control-feedback"
                                      aria-hidden="true"></span>
                                <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>

                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <label for="email" class="col-lg-2 control-label">Email</label>

                            <div class="col-lg-10"
                                 th:classappend="${#fields.hasErrors('email') ? 'has-error' : '' }">
                                <input type="text" th:field="*{email}" class="form-control" id="email"
                                       placeholder="E-mail" required/>
                                <span th:if="${#fields.hasErrors('email')}"
                                      class="glyphicon glyphicon-remove form-control-feedback"
                                      aria-hidden="true"></span>
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

                            </div>
                        </div>

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                        <div class="form-group has-feedback">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-info">Update info</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <h1>Password</h1>

        <div class="row">
            <div class="panel panel-default col-md-6">
                <div class="panel-body">

                    <form id="account-form" class="form-horizontal" action="#" th:object="${user}" method="post"
                          th:action="@{/change-password}">
                        <div class="form-group has-feedback">
                            <label for="password" class="col-lg-2 control-label">Password</label>

                            <div class="col-lg-10"
                                 th:classappend="${#fields.hasErrors('password') ? 'has-error' : '' }">
                                <input type="password" th:field="*{password}" class="form-control" id="password"
                                       placeholder="Password" required/>
                                <span th:if="${#fields.hasErrors('password')}"
                                      class="glyphicon glyphicon-remove form-control-feedback"
                                      aria-hidden="true"></span>
                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <label for="confirm-pass" class="col-lg-2 control-label">Password</label>

                            <div class="col-lg-10" id="match-pass-input">

                                <input id="confirm-pass" class="form-control" name="confirm-pass"
                                       type="password" placeholder="Re-enter password"/>
                                <span id="match-pass-message"></span>
                            </div>
                        </div>

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                        <div class="form-group has-feedback">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-info">Change</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <h1>Peregrine</h1>

        <div class="row">
            <div class="panel panel-default col-md-6">
                <div class="panel-body">

                    <form id="peregrine-form" class="form-horizontal" th:object="${user}" method="post"
                          th:action="@{/change-peregrine}">

                        <div class="form-group has-feedback">
                            <label for="peregrineUsername" class="col-lg-2 control-label">Username</label>

                            <div class="col-lg-10"
                                 th:classappend="${#fields.hasErrors('peregrineUsername') ? 'has-error' : '' }">
                                <input type="text" th:field="*{peregrineUsername}" class="form-control" id="peregrineUsername"
                                       required/>
                                <span th:if="${#fields.hasErrors('peregrineUsername')}"
                                      class="glyphicon glyphicon-remove form-control-feedback"
                                      aria-hidden="true"></span>
                                <span th:if="${#fields.hasErrors('peregrineUsername')}" th:errors="*{peregrineUsername}"></span>

                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-info">Update</button>
                            </div>
                        </div>

                    </form>


                </div>
            </div>
        </div>


    </div>
</div>


<!-- Include the required javascript for this interface -->
<div th:include="authenticated/fragments/basic_resources :: basic-js"></div>
<script th:src="@{js/password_checker.js}"></script>


</body>

</html>