<!--
  ~
  ~     OliveWeb is the webinterface for the OliveProject.
  ~     Copyright (C) 2016  Olivier Bakker & Harm Brugge
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~     Olivier Bakker: o.b.bakker@st.hanze.nl
  ~     Harm Brugge: h.brugge@st.hanze.nl
  ~
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a th:href="@{/landing-page}">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a th:href="@{/landing-page#about}">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a th:href="@{/docs/home}">Docs</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>

                    <li>
                        <a th:href="@{/landing-page#contact}">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; OliFarmProductions 2015. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>

</html>
<body>

</body>
</html>